#banner {
 
  background-image: image-url("background.jpg");
  color: white;
  padding: 150px 0;
  background-size: cover;
  height: 680px;

  h1 {
  font-size: 50px;
  color: white;
}
  p {
  font-size: 25px;
  font-weight: 100;
}

}

.testimonials{
background: white;
padding: 40px;
margin: 10px;
box-shadow: 1px 1px 3px rgb(211, 211, 211);
img{
  width: 40%;
  margin: 0 auto;
}
}




